<div class="col-md-6 col-md-offset-3">
<%= form_with model: @message, local: true do |form| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@message.errors.count, "error") %> prohibited
        this message from being saved:
      </h2>
      <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :receiver %><br>
  <%= collection_select(:message, :receiver, User.all, :name, :name, {prompt: true}, {class: 'form-control'}) %>

  <%= form.label :text %><br>
  <%= form.text_area :text, class: 'form-control' %>

  <p>
    <%= form.submit "Create Message", class: 'btn btn-primary' %>
  </p>
<% end %>
</div>