<h1>Messages</h1>
<%= link_to 'New chat', new_message_path, class: 'btn btn-lg btn-primary' %>
<table class="table table-striped">
  <tr>
    <th>To</th>
    <th>Message</th>
    <th colspan="3"></th>
  </tr>

  <% @messages.each do |message| %>
    <tr>
      <td><%= message.receiver %></td>
      <td><%= message.text %></td>
      <td><%= link_to 'Show', message_path(message) %></td>
      <td><%= link_to 'Edit', edit_message_path(message) %></td>
      <td><%= link_to 'Destroy', message_path(message),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>